
// ---------- VARIABLE ----------

// color
$color-primary: rgba(54, 133, 251, 1);
$color-white: #FFFFFF;
$color-content: #52575F;
$color-title: #05101F;

// font
$font-size-content: 16px;
$font-weight-content: 400;
$font-family-content: 'Poppins', sans-serif;
$font-family-title: 'Sen', sans-serif;
$font-style: normal;

// border
$border-none: none;
$border-radius-button: 32px;
$border-radius-image: 30px;

